doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
	body
		block content
