body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

path { 
	stroke: steelblue; 
	stroke-width: 2; 
	fill: none; 
}
.axis path, .axis line { 
	fill: none; 
	stroke: grey; 
	stroke-width: 1; 
	shape-rendering: crispEdges; 
}
.loading {
	display:inline;
}

.x-axis path, .x-axis line{ stroke: black; }
.x-axis text{ fill: black; }
.y-axis path, .y-axis line{ stroke: black; }
.y-axis text{ fill: black; }